<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ALMA_NCIP_Client</Name>
  <Author>Kurt Munson, Northwestern University Libraries</Author>
  <Version>1.6</Version>
  <Active>True</Active>
  <Type>System</Type>
  <Description>This system level addon allows for ILLiad to communicate with Alma via NCIP protocol.</Description>
  <Forms />
  <Settings>
    <Setting name="NCIP_Responder_URL" value="XXX" type="string">
      <Description>This setting value is the address for the NCIP Responder URL. It is your Alma server,i.e., na01.alma.exlibrisgroup.com/view/NCIPServlet, na02.alma.exlibrisgroup.com/view/NCIPServlet.</Description>
    </Setting>
    <Setting name="acceptItem_from_uniqueAgency_value" value="01XXX_INST" type="string">
      <Description>This is your institutional Alma Code.</Description>
    </Setting>
    <Setting name="ApplicationProfileType" value="XXX" type="string">
      <Description>Input the Resource Sharing Partner code used in Alma.</Description>
    </Setting>
    <Setting name="BorrowingAcceptItemFailQueue" value="NCIP Error: BorrowingAcceptItem Failed" type="string">
      <Description>This designates the name of the queue a Borrowing Transaction will be moved to if the BorrowingAcceptItem function fails.</Description>
    </Setting>
    <Setting name="BorrowingCheckInItemFailQueue" value="NCIP Error: BorrowingCheckInItem Failed" type="string">
      <Description>This designates the name of the queue a Borrowing Transaction will be moved to if the BorrowingCheckInItem function fails.</Description>
    </Setting>
    <Setting name="LendingCheckOutItemFailQueue" value="NCIP Error: LendingCheckOutItem Failed" type="string">
      <Description>This designates the name of the queue a Lending Transaction will be moved to if the CheckOutItem function fails.</Description>
    </Setting>
    <Setting name="LendingCheckInItemFailQueue" value="NCIP Error: LendingCheckInItem Failed" type="string">
      <Description>This designates the name of the queue a Lending Transaction will be moved to if the CheckInItem function fails.</Description>
    </Setting>
    <Setting name="EnablePatronBorrowingReturns" value="True" type="boolean">
      <Description>When this setting is enabled, patron returns will go through ILLiad and a message is sent to Alma.  When this setting is disabled, patron returns will update ILLiad and exteral ILL systems like Worldshare but item will need to also be returned in Alma.</Description>
    </Setting>
    <Setting name="Use_Prefixes" value="false" type="boolean">
      <Description>Determines whether or not you want to change prefixes of a transaction based on specific criteria (below). NOTE: Using these will disable the abilty to scan a barcode in Alma.</Description>
    </Setting>
    --<Setting name="Prefix_for_LibraryUseOnly" value="" type="string">
      <Description>This setting allows you to change the prefix of a transaction that is marked LibraryUseOnly Yes.</Description>
    --</Setting>
    --<Setting name="Prefix_for_RenewablesAllowed" value="" type="string">
      <Description>This setting allows you to change the prefix of a transaction that is marked RenewalsAllowed Yes.</Description>
    --</Setting>
    --<Setting name="Prefix_for_LibraryUseOnly_and_RenewablesAllowed" value="" type="string">
      <Description>This setting allows you to change the prefix of a transaction that is marked both LibraryUseOnly and RenewalsAllowed Yes.</Description>
    --</Setting>
  </Settings>
  <Files>
    <File>ALMA_NCIP_Client.lua</File>
  </Files>
</Configuration>